  <h3><%= @page.page_title %></h3>
  <p><%= @page.content %></p>
  
  <% if @page.choices.empty? %>
    <p>Submit your first choice!</p>
  <% end %>
  
  <% if @page.choices.count == 1 %>
      <p>Now submit your second choice!</p>
      <ul>
          <% @page.choices.each do |choice| %>
              <li><%= choice.content %></li>
          <% end %>
      </ul>
  <% end %>
  
     

  
  <div class="row">
      
      <%= form_for(:choice, url: choices_path) do |f| %>
              
            <%= hidden_field_tag :page_id, @page.id %>
            
            <%= f.label :content %>
            <%= f.text_field :content %>
            
            <%= f.submit "Submit my choice!", class: "btn btn-primary" %>
     <% end %>
  </div>
  
  
  
  
  <%= link_to "Take me back to the story tree.", @page.story %>
  