<% provide(:title, 'New Page') %>

<h2 class="center">Time to write a page! Submit a title for the page, and click submit.</h2>
<div class= "row">
    <% if !@choice.nil? %>
        <p>Here is the content for the previous page: </p>
        <p><%= @choice.page.content %></p>
        <p>You chose: <%= @choice.content %></p>
    <% end %>
</div>
<div class="row">
    <div class = "page">
    
    <%= form_for(@page) do |f| %>
          
        <%= hidden_field_tag :story_id, @story.id %>
        <% unless @choice.nil? %>
            <%= hidden_field_tag :choice_id, @choice.id %>
        <% end %>
        
        <%= f.label :title %>
        <%= f.text_field  :page_title %>
        
        <%= f.label :content %>
        <%=f.text_area :content, class: "content"%>
        
        <%= f.submit "Submit my page!", class: "btn btn-primary" %>
    <% end %>
    </div>
</div>



