<% provide(:title, 'New Story') %>

<h1>Time to start a new adventure! Submit a title for your new story, and click submit.</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
    
    <%= form_for(@story) do |f| %>
        <%= render 'shared/error_messages' %>
        
        <%= f.label :title %>
        <%= f.text_field :title %>
        
        <%= f.submit "Submit my story!", class: "btn btn-primary" %>
    <% end %>
    </div>
</div>
