<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <span class = "first">F</span>
    <span class = "second">A</span>
    <span class = "third">N</span>
    <span class = "fourth">T</span>
    <span class = "fifth">A</span>
    <span class = "sixth">S</span>
    <span class = "seventh">I</span>
    <span class = "eighth">A</span>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Stories", stories_path  %></li>
        <% if user_signed_in? %>
              <li><%= link_to "Profile", current_user %></li>
              <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              </li>
            </ul>
          </li>
        <% else %>
            <li><%= link_to('Login', new_user_session_path)  %></li>  
        <% end %>
      </ul>
    </nav>
  </div>
</header>